@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --brand-teal: #29C7A1;
  --brand-teal-2: #11DDAC;
  --brand-light: #C6F4E9;
  --brand-light-2: #E7FCF7;
  --brand-dark: #0D2C54;
  --brand-neutral: #EEF1F6;
}

html, body {
  height: 100%;
  font-family: 'Poppins', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background-color: var(--brand-light-2);
  color: var(--brand-dark);
}
